<div class="sign-up-div">
    <%= form_for @user, url: '/users' do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
​
    <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f|%>
      <h4>Sign Up</h4>
      <h5> Password </h5> 
      <%= f.password_field :password %>
      <%= submit_tag("Enter", :class => "btn") %>
    <% end %>
<%end%>
</div>